* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
ul{
    font-family: "Potta One", system-ui;
    height: 70px;
    padding: 47%;
    font-weight: 300;
    font-size: 20px;
    justify-content: center;
    font-style: normal;
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 30px;
    align-items: center;
}

li{
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}

.pic-wrap{
   position: relative;
   width: 100%;
   height: 100vh;  
   background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8856792717086834) 23%, rgba(0,0,0,0.7176120448179272) 48%, rgba(0,0,0,0) 100%);
}

#img-kab{
     position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    height: 100vh;  
    transform: scaleX(-1);
    z-index: -1;
}

.content{
    position: absolute;
    width: 950px;
    height: 680px;
    top: 0;
    color: white;
    padding: 120px;
    align-items: center;
}

.wht-is{
    width: 400px;
    height: 200px;
    margin-top: 30px;
    left: 0;
    font-size: 50px;
}

#sgt{
    font-size: 100px;
    font-family: "Potta One", system-ui;
    line-height: 0.8;
}

#par{
    margin-top: 130px;
}