* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pic-wrap{
    background-position: center;
    object-fit: cover;
    overflow: hidden;
    background: linear-gradient(to left rgba(0,0,0, 0) 0%, rgb(0,0,0) 100%);

    #img-kab{
    width: 100%;
    }
}

.content{
    position: absolute;
    width: 100%;
    height: 592px;
    padding: 120px;
    top: 0;
    color: white;
    background-color: transparent;

    .wht-is{
        font-size: 130px;
        margin-top: 50px;
    }

}